<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://as.com">Navegar...</a>
    <a href="../index">ir a index</a>
    <img src="https://img.asmedia.epimg.net/resizer/v2/KEOEIELNY5JR7EKYZ63UNFPEZE.jpg?auth=3b9867a84fff9aaa9bcb5526273395326cc6a28ff954344cbde81ef438a48089&width=1200&height=675&focal=1316%2C127">
    <h1><s>esto es puto subrayado</s></h1>
</body>
</html>