<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color:forestgreen
        }
        img {
            width: 450px;
            height: 300px;
        }
    </style>
</head>
<body>

    <a href="https://as.com"><h3>Navegar...</h3></a>
    <a href="../index"><h3>ir a index</h3></a>
    <a href="../peliculas"><h3>ir a peliculas</h3></a>
    <a href="../futbol"><h3>ir a futbol</h3></a>
    <a href="../nombres"><h3>nombres</h3></a>
    <a href="../mascotas"><h3>mascotas</h3></a>
    <a href="../colores"><h3>colores</h3></a>
    <img src="https://img.asmedia.epimg.net/resizer/v2/KEOEIELNY5JR7EKYZ63UNFPEZE.jpg?auth=3b9867a84fff9aaa9bcb5526273395326cc6a28ff954344cbde81ef438a48089&width=1200&height=675&focal=1316%2C127">

    <h1><s>esto es puto subrayado</s></h1>
</body>
</html>