<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'paginas/menu.html' %}
    <h1>Conjetura Collatz</h1>
    <form method="post">
        {%csrf_token%}
        Numero: <input type="number" name="num"/><br/>
        <button>Mostrar conjetura</button>
    </form>
    {% if res %}
    <h2>Los numeros son:</h2>
    {% endif %}
    <ul>
        {% for n in res %}
            <li>
                {{n}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>