<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Menu de formularios</h1>
    <ul>
        <li>
            <a href="/prueba"><h3>ir a prueba</h3></a>
        </li>
        <li>
            <a href="/saludo"><h3>ir a saludo</h3></a>
        </li>
        <li>
            <a href="/sumar"><h3>ir a sumar</h3></a>
        </li>
        <li>
            <a href="/par"><h3>ir a par</h3></a>
        </li>
        <li>
            <a href="/colat"><h3>ir a colat</h3></a>
        </li>
    </ul>
</body>
</html>